* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home {
    .sider-section {
        min-height: 1366px;
        margin: 0 auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;

        .test {
            width: 100%;
            background: #000;
            height: 700px;
        }
    }
}