.header {
    font-family: monospace;

    .top-header {
        background: #000;
        display: flex;
        justify-content: space-between;
        padding: 0px 50px;
        align-items: center;
        height: 50px;

        .my-county {
            select {
                border: none;
                background: none;
                color: #FFF;
                outline: none;

                option {
                    color: #000;
                    border: none;
                    padding: 5px;


                }
            }


        }

        .phone-number {
            h5 {
                color: #FFFFFF;
                font-size: 1rem;
            }
        }
    }

    .bottom-header {
        position: fixed;
        z-index: 2;
        background: #FFF;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;

        .sections {
            margin: 0 auto;
            width: 1230px;
            height: 70px;
            transition: all 1s;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-section {
                display: flex;
                align-items: center;

                .logo {
                    cursor: pointer;

                    img {
                        width: 120px;
                        height: 120px;
                    }
                }

                .navbar {
                    display: flex;
                    align-items: center;

                    ul {
                        list-style: none;
                        display: flex;
                        gap: 50px;
                        align-items: center;
                        margin-top: 13px;

                        li {
                            display: flex;
                            align-items: center;
                            font-size: 20px;
                            text-decoration: none;
                            color: #000;
                            cursor: pointer;

                        }
                    }
                }
            }

            .rigth-section {
                display: flex;
                gap: 25px;
                font-size: 20px;
                align-items: center;
                /* From uiverse.io by @satyamchaudharydev */
                /* removing default style of button */

                .form button {
                    border: none;
                    background: none;
                    color: #8b8ba7;
                }

                /* styling of whole input container */
                .form {
                    --timing: 0.3s;
                    --width-of-input: 200px;
                    --height-of-input: 40px;
                    --border-height: 2px;
                    --input-bg: #fff;
                    --border-color: #2f2ee9;
                    --border-radius: 30px;
                    --after-border-radius: 1px;
                    position: relative;
                    width: var(--width-of-input);
                    height: var(--height-of-input);
                    display: flex;
                    align-items: center;
                    border: 1px solid;
                    border-radius: 10px;
                    margin-top: 3px;
                    padding-inline: 0.8em;
                    border-radius: var(--border-radius);
                    transition: border-radius 0.5s ease;
                    background: var(--input-bg, #fff);
                }

                /* styling of Input */
                .input {
                    font-size: 0.9rem;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    padding-inline: 0.5em;
                    padding-block: 0.7em;
                    border: none;
                }

                /* styling of animated border */
                .form:before {
                    content: "";
                    position: absolute;
                    background: var(--border-color);
                    transform: scaleX(0);
                    transform-origin: center;
                    width: 100%;
                    height: var(--border-height);
                    left: 0;
                    bottom: 0;
                    border-radius: 1px;
                    transition: transform var(--timing) ease;
                }

                /* Hover on Input */
                .form:focus-within {
                    border-radius: var(--after-border-radius);
                }

                input:focus {
                    outline: none;
                }

                /* here is code of animated border */
                .form:focus-within:before {
                    transform: scale(1);
                }

                /* styling of close button */
                /* == you can click the close button to remove text == */
                .reset {
                    border: none;
                    background: none;
                    opacity: 0;
                    visibility: hidden;
                }

                /* close button shown when typing */
                input:not(:placeholder-shown)~.reset {
                    opacity: 1;
                    visibility: visible;
                }

                /* sizing svg icons */
                .form svg {
                    width: 17px;
                    margin-top: 3px;
                }

                .basket-icon {
                    cursor: pointer;

                    display: flex;
                    align-content: center;
                    position: relative;

                    span {
                        position: absolute;
                        top: -10px;
                        right: -25px;
                    }
                }

                .icons {
                    cursor: pointer;
                }
            }
        }

    }
}